<!DOCTYPE html>
<html lang="en">
<head>
    <title>HoWhy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../vendors/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/css/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="icon" href="../resources/img/logo-64.ico">
</head>
<body>

<!--Big thing at the top-->
<div class="jumbotron text-center">
    <h1 class="logo">HoWhy</h1>
    <img src="../resources/img/logo-vectors-original.svg" class="svg-logo logo">
    <p>Where questions become answers!</p>
</div>

<!--NavBar-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!--Title/Logo and collaped simbol-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


            <!--<a class="navbar-brand" href="#">Logo</a>-->
            <!-- Logo-->
            <a class="navbar-brand" href="#"><img src="../resources/img/logo-vectors-inverted.svg" height="40"
                                                  width="40"></a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <!--Categories, Admin Things and the Rest (at the left side)-->
            <ul class="nav navbar-nav">

                <!--Categories-->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Foods and Drinks</a></li>
                        <li><a href="#">Sports</a></li>
                        <li><a href="#">Computers</a></li>
                        <li><a href="#">Art</a></li>
                    </ul>
                </li>

                <!--Admin Page(more content)-->
                <li><a href="#">Admin Page</a></li>
            </ul>


            <!--Search Form (at the right side)-->
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group input-group">
                    <input type="text" class="form-control" placeholder="Search..">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
            </form>

            <!--Ask a question, hello and logout-->
            <ul class="nav navbar-nav navbar-right">
                <li><button type="button" class="btn btn-primary vertical-align">Ask a question</button></li>
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Hello, Peralta </a></li>
                <li><a href="#" data-toggle="modal" data-target="#login-modal"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>

        </div>

    </div>
</nav>

